<div>
    <div class="input-field col s12 f-block">
        <h6>Выберете категорию задания</h6>
        <select name="taskType">
            <option value="" disabled selected>Выберете категорию задания</option>
            <option value="1">24</option>
            <option value="2">25</option>
            <option value="3">27</option>
        </select>
        <label></label>
    </div>

<!--    <div class="input-field col s12 f-block">-->
<!--        <h6>Выберете тип задания</h6>-->
<!--        <select name="taskType">-->
<!--            <option value="" disabled selected>Выберете тип задания</option>-->
<!--            <option value="1">Работа с цифрами числа</option>-->
<!--            <option value="2">Работа с числами без массива</option>-->
<!--            <option value="3">Степень числа</option>-->
<!--            <option value="3">Случайно</option>-->
<!--        </select>-->
<!--        <label></label>-->
<!--    </div>-->

    <button type="submit" class="btn f-block">
        Начать
    </button>
</div>
