<h2>Добавить задание типа 24</h2>

<form action="add24" method="post">
    <div class="input-field col s12">
        <select name="taskType">
            <option value="" disabled selected>Выберете тип задания</option>
            <option value="1">Работа с цифрами числа</option>
            <option value="2">Работа с числами без массива</option>
            <option value="3">Степень числа</option>
        </select>
        <label></label>
    </div>
    <input hidden name="title" value="24">
    <div>
        <p>Введите текст условия задачи:</p>
        <textarea name="taskText"></textarea>
        <label>Введите...</label>
    </div>
    <div class="input-field" hidden>
        <input type="text" name="codeLanguage">
        <label>Язык программирования</label>
    </div>
    <div>
        <p>Введите код задачи:</p>
        <textarea name="codeRow"></textarea>
        <label>Введите...</label>
    </div>
    <div>
        <p>Введите текст подзадач:</p>
        <textarea name="innerTask"></textarea>
        <label>Введите...</label>
    </div>
    <p>Введите ответы на подзадачи</p>
    <ol>
        <li>
            <div class="input-field col s2">
                <input type="text" name="innerTaskAnswer1">
            </div>
        </li>
        <li>
            <div class="input-field col s2">
                <input type="text" name="innerTaskAnswer2">
            </div>
        </li>
        <li>
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" name="a">
                    <label>Ошибка</label>
                </div>
                <p class="col s2">заменить на</p>
                <div class="input-field col s4">
                    <input type="text" name="a">
                    <label>Правильный вариант</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" name="b">
                    <label>Ошибка</label>
                </div>
                <p class="col s2">заменить на</p>
                <div class="input-field col s4">
                    <input type="text" name="b">
                    <label>Правильный вариант</label>
                </div>
            </div>
        </li>
    </ol>
    <button type="submit" class="btn">
        Добавить
    </button>
</form>