<h2>Добавить задание С1</h2>

<form action="addC1" method="post">
    <div class="input-field">
        <input type="text" name="title">
        <label>Task title</label>
    </div>
    <button type="submit" class="btn">
        Добавить
    </button>
</form>